* {
	margin: 0;
	padding: 0;
	font-family: Roboto, sans-serif;
}

body {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

header {
	flex: 0 0 50px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #1F2937;
	color: #ffffff;
	padding: 5px 0;
}

header a {
	font-size: 18px;
	text-decoration: none;
	color: #e5e7eb;
}

.margin {
	flex: 0 1 200px;
}

.logo {
	flex: 0 0 200px;
	color: #f9faf8;
	font-size: 24px;
	font-weight: 900;
}

.links {
	flex: 1 0 450px;
	display: flex;
	justify-content: flex-end;
	gap: 20px;
}

.page {
	display: flex;
	flex-direction: column;
}

.section1, .section2, .section3, .section4 {
	flex: 1 0 400px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.section1 {
	background-color: #1F2937;
}

.content {
	flex: 1 0 650px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.text, .image {
	width: 50%;
}

.text h1 {
	font-size: 48px;
	font-weight: 900;
	color: #f9faf8;
}

.text p {
	color: #e5e7eb;
	margin: 15px 0;
}

button {
	background-color: #3882f6;
	color: #e5e7eb;
	font-weight: 900;
	border: none;
	border-radius: 10px;
	padding: 8px 30px;
}

.image {
	height: 150px;
	background-color: rgb(103, 106, 118);
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
}

.section2 .content,
.section3 .content {
	flex-direction: column;
	justify-content: center;
}

.section2organizer {
	display: flex;
}

.section2 h2 {
	font-size: 36px;
	font-weight: 900;
	color: #1F2937;
}

.card {
	width: 140px;
	margin: 25px;
	text-align: center;
}

.box {
	border: 2px solid #3882f6;
	border-radius: 15px;
	height: 140px;
	width: 140px;
}

.section3 {
	background-color: #e5e7eb;
}

.quote {
	max-width: 70%;
	color: #1F2937;
	font-size: 36px;
	font-weight: 100; /* This doesn't seem to have an appreciable effect on my browser (both firefox and chrome).
		Using a higher font-weight works fine, but any value lower than about 500 looks the same.
		No idea why... */
	font-style: italic;
}

.citation {
	max-width: 70%;
	font-weight: 700;
	align-self: flex-end;
	margin-right: 100px;
}

.section4 .content{
	height: 60%;
}

.attention {
	border-radius: 10px;
	min-width: 100%;
	min-height: 80%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: #3882f6;
	color: #f9faf8;
}

h3 {
	font-size: 24px;
}

.attention button {
	border: 2px solid #f9faf8;
}

footer {
	flex: 0 0 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #1F2937;
	color: #ffffff;
	text-align: center;
}