* {
	margin: 0;
	padding: 0;
}

body {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

header {
	flex: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #1F2937;
	color: #ffffff;
	padding: 10px 100px;
}

header a {
	font-size: 18px;
	text-decoration: none;
	color: #e5e7eb;
}

.logo {
	flex: 0 0 150px;
	color: #f9faf8;
	font-size: 24px;
}

.links {
	flex: 1;
	display: flex;
	justify-content: flex-end;
	gap: 20px;
}

.page {
	padding: 10px 100px;
}

footer {
	flex: 0;
	background-color: #1F2937;
	color: #ffffff;
	text-align: center;
}